<!DOCTYPE html>
<html>
<head>
	<title>{{ this.tab_title }}</title>
	<link rel="stylesheet" type="text/css" href="/static/kiosk.css">
	<script src="{{ '/static/windowPopUp.js'|asseturl }}"></script>
</head>

<body class="main" onLoad="loaded();">

<div style="padding-top:30px; padding-bottom: 30px">
<h1>{{ this.page_title }}</h1>
</div>

<center>

<div style="width:1300px">

<a href="groups.html">
<div class="navigation">
	<div style="height: 125px;">
	<img src="{{ '/static/graphics/people.png'|asseturl }}" width="100">
	</div>
Find an AOC small group
</div>
</a>


<a href="give.html">
<div class="navigation">
	<div style="height: 125px;">
	<img src="{{ '/static/graphics/credit_card.png'|asseturl }}" width="100">
	</div>
Give online with your credit or debit card
</div>
</a>

<a href="event.html">
<div class="navigation">
	<div style="height: 125px;">
	<img src="{{ '/static/graphics/calendar.png'|asseturl }}" width="100">
	</div>
Attend an upcoming event
</div>
</a>


<a href="serve.html">
<div class="navigation">
	<div style="height: 125px">
	<img src="{{ '/static/graphics/hand.png'|asseturl }}" width="50">
	</div>
Volunteer and help us meet our most urgent needs
</div>
</a>


<a href="https://austinoaks.ccbchurch.com/goto/forms/5/responses/new/" onclick="return popitup('https://austinoaks.ccbchurch.com/goto/forms/5/responses/new/');">
<div class="navigation">
	<div style="height: 125px;">
	<img src="{{ '/static/graphics/file_write.png'|asseturl }}" width="80">
	</div>
Fill out a connection card
</div>
</a>
</div>


<a href="hub.html">
<div class="navigation">
	<div style="height: 125px">
	<img src="{{ '/static/graphics/hub_logo.png'|asseturl }}" width="150" style="margin-top:50px;">
	</div>
Sign up for an account on The Hub
</div>
</a>
</div>

</center>

<div style="clear: both;">
<p align=center>
<img src="{{ '/static/graphics/aoclogo.png'|asseturl }}" style="padding-top:50px; width:300px;">
</p>
</div>

<div style="display:none">
<iframe src="https://austinoaks.ccbchurch.com/login.php"></iframe>
</div>

</body>
</html>
