<!DOCTYPE html>
<html>
<head>
	<title>{{ this.tab_title }}</title>
	<link rel="stylesheet" type="text/css" href="/static/kiosk.css">
	<script src="{{ '/static/windowPopUp.js'|asseturl }}"></script>
</head>

<body class="main" onLoad="loaded();">

<div style="padding-top:30px; padding-bottom: 30px">
<h1>{{ this.page_title }}</h1>
</div>

<center>
<div style="width:1300px">

{% for button in this.ButtonMenu.blocks %}
	<a href="{{ link.url }}">
  		<div class="navigation">
			<div style="height: 125px;">
				<img src="{{  }}" width="100">
    	</div>
{% endfor %}

</div>
</center>

<div style="clear: both;">
<p align=center>
<img src="{{ '/static/graphics/aoclogo.png'|asseturl }}" style="padding-top:50px; width:300px;">
</p>
</div>

<div style="display:none">
<iframe src="https://austinoaks.ccbchurch.com/login.php"></iframe>
</div>

</body>
</html>
